﻿.SuccessMsg {
    border: 1px solid #e6dbdb;
    padding: 5px;
    background-color: #f5f5f5;
    color: green;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
}
#AdminDashboard {

}
#AdminDashboardImg{
    
}
