﻿
body {
    color: #374767;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: white;
}

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #4472c4;
    position: fixed;
    top: 0px;
    width: 215px;
    height: 100%;
    color: #e1ffff;
}

    .nav-side-menu .brand {
        background-color: #23282e;
        line-height: 50px;
        display: block;
        text-align: center;
        font-size: 14px;
    }

    .nav-side-menu .toggle-btn {
        display: none;
    }

    .nav-side-menu ul,
    .nav-side-menu li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        line-height: 35px;
        cursor: pointer;
        /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
    }

        .nav-side-menu ul :not(collapsed) .arrow:before,
        .nav-side-menu li :not(collapsed) .arrow:before {
            font-family: FontAwesome;
            content: "\f078";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
            float: right;
        }

        .nav-side-menu ul .active,
        .nav-side-menu li .active {
            border-left: 3px solid #d19b3d;
            background-color: #4f5b69;
        }

        .nav-side-menu ul .sub-menu li.active,
        .nav-side-menu li .sub-menu li.active {
            color: #d19b3d;
        }

            .nav-side-menu ul .sub-menu li.active a,
            .nav-side-menu li .sub-menu li.active a {
                color: #d19b3d;
            }

        .nav-side-menu ul .sub-menu li,
        .nav-side-menu li .sub-menu li {
            background-color: #181c20;
            border: none;
            line-height: 28px;
            border-bottom: 1px solid #23282e;
            margin-left: 0px;
        }

            .nav-side-menu ul .sub-menu li:hover,
            .nav-side-menu li .sub-menu li:hover {
                background-color: #020203;
            }

            .nav-side-menu ul .sub-menu li:before,
            .nav-side-menu li .sub-menu li:before {
                font-family: FontAwesome;
                content: "\f105";
                display: inline-block;
                padding-left: 10px;
                padding-right: 10px;
                vertical-align: middle;
            }

    .nav-side-menu li {
        padding-left: 0px;
        border-left: 3px solid #2e353d;
        border-bottom: 1px solid #23282e;
    }

        .nav-side-menu li a {
            text-decoration: none;
            color: #e1ffff;
        }

            .nav-side-menu li a i {
                padding-left: 10px;
                width: 20px;
                padding-right: 20px;
            }

        .nav-side-menu li:hover {
            border-left: 3px solid #d19b3d;
            background-color: #4f5b69;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

        .nav-side-menu .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10 !important;
            padding: 3px;
            background-color: #ffffff;
            color: #000;
            width: 40px;
            text-align: center;
        }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.noPadding {
    padding-left: 0px;
    padding-right: 0px;
}

.ErrorMsg {
    color: red;
    font-weight: bold;
    font-style: italic;
}

.form-control {
    border-radius: 0px;
}

.input select textarea {
    max-width: 500px;
}

input[type="radio"] {
    margin: 9px 3px;
}

.headerText {
    font-size: 50px;
    color: white;
    font-family: 'Microsoft Himalaya';
    text-transform: uppercase;
}

.text-danger {
    font-family: 'Lucida Sans';
    font-weight: 900;
    color: red;
    font-style: italic;
    font-size: 14px;
}

.SuccessMsg {
    background-color: green;
    padding: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px 5px;
}

.ImageStyle {
    border-radius: 2px 2px;
    border: .5px #374767 solid;
    padding: 5px;
}

.chosen-container-single .chosen-single {
    height: 35px;
}

.BrandDefault {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 40px;
    line-height: 20px;
    font-family: 'Agency FB';
    font-weight: 900;
}

    .BrandDefault:focus, .BrandDefault:hover {
        text-decoration: none;
    }

.navLineHeight li a {
    line-height: 60px;
    color: #374767;
    font-weight: bold;
}

.navBackColor {
    background-color: white;
}

.navLineHeight ul li a:hover {
    background-color: #707070;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: white;
}

/*Login Design*/

.loginInput {
    height: 46px;
    font-size: 18px;
}

.backImage {
    background-image: url('Image/HomepageWall.jpg');
    height: 1000px;
}

.Profilecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
