﻿@model DoctorClinic.Models.ViewModel.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

@using (Html.BeginForm("Login", "Authorizations", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="col-md-4 col-md-offset-4">
        <div style="background-color:#4579d7;padding:30px 0px 30px 50px;border-radius:5px">

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <img class="img-responsive" src="~/Image/BrandLogo.png" width="269" />
                </div>
                @if (ViewBag.ErrorMsg != null)
                {
                    <div style="color:yellow;font-style:italic">@ViewBag.ErrorMsg</div>
                }
                <div class="form-group">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control loginInput", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "color:yellow" })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control loginInput", @placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @style = "color:yellow" })
                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Login" class="btn btn-success btn-block btn-lg" />
                    </div>
                </div>
                <h4><a href="@Url.Action("SignUp","Patients")" class="btn-link" style="color:white;margin-left:50px">Create an Account</a></h4>
            </div>
        </div>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
