﻿@model IEnumerable<DoctorClinic.Models.Patient>

@{
    ViewBag.Title = "ShowAll";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size:30px;" class="text-center">List of Patient</div>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        <a href="@Url.Action("Create")" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Patient</a><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-striped table-responsive search-table ">
                            <thead>
                                <tr>
                                    <th>
                                        Photo
                                    </th>

                                    <th>
                                        Full Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Mobile
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="DelRow_@item.Id">

                                        <td>
                                            @{
                                                string imageBase64 = Convert.ToBase64String(item.Image);
                                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                            }
                                            <img src="@imageSrc" width="50" height="50" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mobile)
                                        </td>

                                        <td>
                                            @Html.ActionLink(" ", "Update", new { id = item.Id }, new { @class = "btn btn-primary glyphicon glyphicon-edit", title = "Update" })
                                            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-info glyphicon glyphicon-eye-open", title = "Details" })
                                            <a href="#" class="btn btn-danger glyphicon glyphicon-trash" onclick="GetDeleteId(@item.Id)" title="Delete"></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @Html.Hidden("DeleteId")

                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                Modal content
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h2 class="modal-title">Confirm to Delete Patient</h2>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Are you sure to Delete this Patient ???</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input type="button" class="btn btn-danger" value="Confirm Delete" id="btnConfirmDelete" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
<script src="~/Scripts/ProjectScripts/Patient/ShowAllPatient.js"></script>
}