﻿@model IEnumerable<DoctorClinic.Models.Department>

@{
    ViewBag.Title = "ShowAll";
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size:30px;" class="text-center">List of Department</div>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        <a href="@Url.Action("Create")" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Department</a><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-striped table-responsive search-table ">
                            <thead>
                                <tr>

                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="DelRow_@item.Id">

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>

                                        <td>
                                            @Html.ActionLink(" ", "Update", new { id = item.Id }, new { @class = "btn btn-primary glyphicon glyphicon-edit", title = "Update" })
                                            <a href="#" class="btn btn-danger glyphicon glyphicon-trash" onclick="GetDeleteId(@item.Id)" title="Delete"></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @Html.Hidden("DeleteId")

                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                Modal content
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h2 class="modal-title">Confirm to Delete Department</h2>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Are you sure to Delete this Department ???</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input type="button" class="btn btn-danger" value="Confirm Delete" id="btnConfirmDelete" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ProjectScripts/Department/ShowAll_Department.js"></script>

}