﻿@model DoctorClinic.Models.Department

@{
    ViewBag.Title = "Update";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size:30px;" class="text-center">Update Department</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("ShowAll")" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> Department List</a><br />
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-md-offset-3">
                        @using (Html.BeginForm("Update", "Departments", FormMethod.Post, new { id = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        @if (ViewBag.Msg != null)
                                        {
                                            <div class="text-center SuccessMsg">@ViewBag.Msg</div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Department Name" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger ErrorMsg" })
                                        <div class="text-danger" id="ErrorMsgForName"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Write something about Department..." })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" value="Update" class="btn btn-success btn-block btn-lg" />
                                    </div>
                                </div>
                                @Html.Hidden("CurrentName", Model.Name);
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ProjectScripts/Department/Update_Department.js"></script>
}
