﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <div class="Profilecard">
            <img src="~/Image/ProfilePic/tuhin.png" style="width:100%" />
            <h1>Mahbub Alam</h1>
            <p class="title">BSc. in CSE</p>
            <p>Daffodil International University</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="Profilecard">
            <img src="~/Image/ProfilePic/pj.jpg" style="width:100%" />
            <h1>Omar Faruq</h1>
            <p class="title">BSc. in CSE</p>
            <p>Daffodil International University</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="Profilecard">
            <img src="~/Image/ProfilePic/pandey.png" style="width:100%" />
            <h1>Anup Pandey</h1>
            <p class="title">BSc. in CSE</p>
            <p>Daffodil International University</p>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</div>
