﻿
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:500px" id="AdminDashboard">
    <div id="AdminDashboardImg">
        <img src="~/Image/HomepageWall.jpg" style="height:570px;width:100%"/>
    </div>
</div>

