﻿
@{
    ViewBag.Title = "Error";
    
}


<div class="error" style="height:675px">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="logo">
                <h1>
                    <span style="color:red;font-weight:bold">Oops!!!</span> <br />
                    <span style="color:red">404 Not Found</span>

                </h1>
            </div>
            <p class="lead text-muted">Sorry, an error has occured, Requested page not found</p>
            <div class="clearfix"></div>
            <div class="col-lg-6 col-lg-offset-3">
                <div class="btn-group btn-group-justified">
                    <a href="@Url.Action("Index","Home")" class="btn btn-info btn-lg">Return Home Page</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-8 col-offset-2 -->
    </div>
</div>