﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}
<div id="AdminDashboard" class="container-fluid">
    <div id="AdminDashboardImg">
        <img src="~/Image/HomepageWall.jpg" style="height:100%;width:100%" />
    </div>
</div>