﻿@model DoctorClinic.Models.Scheduler

@{
    ViewBag.Title = "Update";
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size:30px;" class="text-center">Update Schedule</div>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        <a href="@Url.Action("ShowAll")" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> Schedule List</a><br />
                    </div>
                </div>
                @if (ViewBag.Msg != null)
                {
                    <div class="text-center  SuccessMsg">@ViewBag.Msg</div>
                    <br />
                }
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.DoctorId, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownList("DoctorId", null, "---Select Doctor---", htmlAttributes: new { @class = "form-control", id = "DoctorDropdown" })
                                    @Html.ValidationMessageFor(model => model.DoctorId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AvailableDay, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.AvailableDay, new List<SelectListItem>()
                                                                                                            {
                                                                                                                new SelectListItem {Text = "Friday", Value = "Friday"},
                                                                                                                new SelectListItem {Text = "Saturday", Value = "Saturday"},
                                                                                                                new SelectListItem {Text = "Sunday", Value = "Sunday"},
                                                                                                                new SelectListItem {Text = "Monday", Value = "Monday"},
                                                                                                                new SelectListItem {Text = "Tuesday", Value = "Tuesday"},
                                                                                                                new SelectListItem {Text = "Wednesday", Value = "Wednesday"},
                                                                                                                new SelectListItem {Text = "Thursday", Value = "Thursday"}
                                                                                                            }, "Select Option", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AvailableDay, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PerPatientDuration, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.PerPatientDuration, new { htmlAttributes = new { @class = "form-control", placeholder = "In Minutes" } })
                                    @Html.ValidationMessageFor(model => model.PerPatientDuration, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.Hidden("EditAvailableDay", Model.AvailableDay)
                            @Html.Hidden("EditDoctorId", Model.DoctorId)

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="Update" class="btn btn-success btn-block btn-lg" />
                                </div>
                            </div>
                        </div>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#DoctorDropdown").chosen();
        })
    </script>

}
