﻿@model IEnumerable<DoctorClinic.Models.Appointment>

@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<div class="well-lg">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="text-center">Appointment List</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PatientEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DoctorId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SerialNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Problem)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department.Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr id="DelRow_@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor.FirstName)
                            @Html.DisplayFor(modelItem => item.Doctor.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Problem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department.Name)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "AppointmentDetails", "Doctors", new { id = item.Id }, new { @class = "btn btn-info glyphicon glyphicon-eye-open", title = "Details" })
                            <a href="#" class="btn btn-danger glyphicon glyphicon-trash" onclick="GetDeleteId(@item.Id)" title="Cancel Appointment"></a>
                        </td>
                    </tr>
                }

            </table>

            @Html.Hidden("DeleteId")

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    Modal content
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                            <h2 class="modal-title">Confirm to Cancel Appointment</h2>
                        </div>
                        <div class="modal-body">
                            <h4>Are you sure to Cancel this Appointment ???</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <input type="button" class="btn btn-danger" value="Confirm" id="btnConfirmDelete" />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/ProjectScripts/Appointment/AppointmentShowAll.js"></script>
}