﻿@model DoctorClinic.Models.Doctor

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size:30px;" class="text-center">Add Doctor</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    @using (Html.BeginForm("Update", "Doctors", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">

                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8" style="padding-top:4px">
                                            @Html.RadioButtonFor(model => model.Gender, "Male", new { @checked = true }) Male
                                            @Html.RadioButtonFor(model => model.Gender, "Female") Female
                                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Designation" } })
                                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.DepartmentId, null, "Select Option", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-4 " })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control datePicker " } })
                                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BloodGroup, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.BloodGroup, new List<SelectListItem>()
                                                                                                                                                                                                                                                                                                                                                                        {
                                                                                                                                                                                                                                                                                                                                                                            new SelectListItem{ Text="A+",Value="A+"},
                                                                                                                                                                                                                                                                                                                                                                            new SelectListItem{Text="A-",Value="A-"},
                                                                                                                                                                                                                                                                                                                                                                            new SelectListItem{Text="B+",Value="B+"},
                                                                                                                                                                                                                                                                                                                                                                            new SelectListItem{Text="B-",Value="B-"},
                                                                                                                                                                                                                                                                                                                                                                            new SelectListItem{Text="O+",Value="O+"},
                                                                                                                                                                                                                                                                                                                                                                            new SelectListItem{Text="O-",Value="O-"},
                                                                                                                                                                                                                                                                                                                                                                            new SelectListItem{Text="AB+",Value="AB+"},
                                                                                                                                                                                                                                                                                                                                                                            new SelectListItem{Text="AB-",Value="AB-"},
                                                                                                                                                                                                                                                                                                                                                                            }, "Select Option", new { @class = "form-control" })


                                            @Html.ValidationMessageFor(model => model.BloodGroup, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            <input type="file" name="ImageFile" id="Image" />
                                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                            <br>
                                            <div class="col-md-6" id="CurrentImage">
                                                @{
                                                    string imageBase64 = Convert.ToBase64String(Model.Image);
                                                    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                                }
                                                <img src="@imageSrc" width="150" height="150" class="thumbnail" />
                                            </div>
                                            <div class="col-md-6" id="NewImage">
                                                <div id="imagePreview" style="display:none">
                                                    <div class="thumbnail">
                                                        <img class="img-responsive" id="TargetImage" />
                                                    </div>
                                                </div>

                                                <div class="">
                                                    <p id="Imagedescription"></p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>




                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    @if (ViewBag.Msg != null)
                                    {
                                        <div class="text-center col-md-offset-3 SuccessMsg">@ViewBag.Msg</div>
                                        <br />
                                    }
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile No." } })
                                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telephone No." } })
                                            @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ShortBio, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.ShortBio, new { htmlAttributes = new { @class = "form-control", @placeholder = "About Yourself" } })
                                            @Html.ValidationMessageFor(model => model.ShortBio, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Specialist, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Specialist, new { htmlAttributes = new { @class = "form-control", @placeholder = "Specialist" } })
                                            @Html.ValidationMessageFor(model => model.Specialist, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Education, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Education, new { htmlAttributes = new { @class = "form-control", @placeholder = "Education" } })
                                            @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="col-md-3">
                                    <div class="form-group">

                                        @Html.LabelFor(model => model.DivisionId, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(model => model.DivisionId, null, "--Select Division--", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.DivisionId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">

                                        @Html.LabelFor(model => model.DistrictId, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("DistrictId", new SelectList(""), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">

                                        @Html.LabelFor(model => model.SubDistrictId, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(model => model.SubDistrictId, new SelectList(""), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.SubDistrictId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">

                                        @Html.LabelFor(model => model.HospitalId, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(model => model.HospitalId, new SelectList(""), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.HospitalId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @Html.Hidden("CurrentEmail", Model.Email)
                                    @Html.HiddenFor(model => model.IsDeleted)
                                    @Html.Hidden("CurrentImage", Model.Image)

                                    @Html.HiddenFor(m=>m.Id,Model.Id)
                                    @Html.Hidden("IsFromDoctorProfile",true)
                                    @Html.Hidden("CurrentDivision", Model.DivisionId)
                                    @Html.Hidden("CurrentDistrict", Model.DistrictId)
                                    @Html.Hidden("CurrentSubDistrict", Model.SubDistrictId)
                                    @Html.Hidden("CurrentHospital", Model.HospitalId)
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-4">
                                    <input type="submit" value="Update" class="btn btn-success btn-block btn-lg" />
                                </div>
                            </div>
                        </div>


                    }

                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Scripts/ProjectScripts/Doctor/UpdateDoctor.js"></script>
}
