﻿@model DoctorClinic.Models.Doctor

@{
    ViewBag.Title = "ProfileDetail";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<div class="well-lg">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="text-center">Details About Doctor</h3>
        </div>
        <div class="panel-body">
            <div>
                <div>
                    @Html.ActionLink("Edit", "EditProfile", new { id = Model.Id }, new { @class = "btn btn-info" })

                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <div>
                            @{
        string imageBase64 = Convert.ToBase64String(Model.Image);
        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            }
                            <img src="@imageSrc" width="270" height="230" class="Thumbnail" />
                        </div>

                        <br />
                        <div class="col-md-offset-2 col-md-8 h4" style="font-weight:bolder">
                            @Html.DisplayFor(model => model.FirstName)
                            @Html.DisplayFor(model => model.LastName)
                        </div>

                    </div>
                    <div class="col-md-7">
                        <dl class="dl-horizontal" style="font-size:18px">
                            <dt>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LastName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Department)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Department.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Designation)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Designation)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Address)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Telephone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Telephone)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Mobile)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Mobile)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ShortBio)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShortBio)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Specialist)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Specialist)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateOfBirth)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.BloodGroup)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.BloodGroup)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Education)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Education)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Gender)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Gender)
                            </dd>

                        </dl>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>