﻿@model DoctorClinic.Models.Appointment

@{
    ViewBag.Title = "Create";
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size:30px;" class="text-center">Add An Appointment</div>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        <a href="@Url.Action("ShowAll")" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> Appointment List</a><br />
                    </div>
                </div>
                @if (ViewBag.Msg != null)
                {
                    <div class="text-center  SuccessMsg">@ViewBag.Msg</div>
                    <br />
                }
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.PatientEmail, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PatientEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    <div id="PatientName"></div>
                                    @Html.ValidationMessageFor(model => model.PatientEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.DepartmentId, null, "--Select Department--", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.DoctorId, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.DoctorId, new SelectList(""), new { @class = "form-control", @onchange = "test()" })
                                    @Html.ValidationMessageFor(model => model.DoctorId, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <div id="SchedulList"></div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datePicker" } })
                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <div id="SerialNum"></div>
                                    
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SerialNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <div id="SerialNum"></div>
                                    @Html.TextBoxFor(model => model.SerialNo, new { @class = "form-control", @readonly = "true" })
                                    @Html.ValidationMessageFor(model => model.SerialNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Problem, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Problem, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Problem, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <input type="submit" value="Create" class="btn btn-success btn-block btn-lg" />
                                </div>
                            </div>
                        </div>
                        }
                    </div>



                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ProjectScripts/Appointment/AppointmentCreate.js"></script>
}

