﻿@model DoctorClinic.Models.ViewModel.AppointmentDetailVm
@{
    ViewBag.Title = "Details";
}
<br />
<br />
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="text-center" style="background-color:#0094ff;padding:10px;color:white">Appointment's Detail</h3>
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DoctorName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DoctorName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Department)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Department)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Day)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Day)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ScheduleTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ScheduleTime)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.SerialNo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SerialNo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.AppointmentDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AppointmentDate)
                        </dd>
                    </dl>
                </div>
            </div>


        </div>

        <div class="panel-body">
            <div>
                <div class="h3 text-center">Patient's Information</div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            @{
        string imageBase64 = Convert.ToBase64String(Model.Image);
        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            }
                            <img src="@imageSrc" width="270" height="230" class="Thumbnail" />
                        </div>

                        <br />
                        <div class="col-md-offset-2 col-md-8 h4" style="font-weight:bolder">
                            @Html.DisplayFor(model => model.FullName)
                        </div>

                    </div>
                    <div class="col-md-9">

                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.FullName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FullName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateOfBirth)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Age)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Age)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Gender)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Gender)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Mobile)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Mobile)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Problem)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Problem)
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>

