﻿@model IEnumerable<DoctorClinic.Models.Appointment>

@{
    ViewBag.Title = "ShowAll";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size:30px;" class="text-center">List of Appoinment</div>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        <a href="@Url.Action("Create")" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Appointment</a><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-striped table-responsive search-table ">
                            <thead>
                                <tr>
                                    <th>
                                        Patient Email
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DoctorId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Date)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SerialNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Problem)
                                    </th>
                                    <th>
                                        Department Name
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr id="DelRow_@item.Id">

                                    <td>
                                        @Html.DisplayFor(modelItem => item.PatientEmail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Doctor.FirstName)
                                        @Html.DisplayFor(modelItem => item.Doctor.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SerialNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Problem)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Department.Name)
                                    </td>

                                    <td>
                                        @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-info glyphicon glyphicon-eye-open", title = "Details" ,target="_blank"})
                                        <a href="#" class="btn btn-danger glyphicon glyphicon-trash" onclick="GetDeleteId(@item.Id)" title="Delete"></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>

                        @Html.Hidden("DeleteId")

                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                Modal content
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h2 class="modal-title">Confirm to Delete Doctor</h2>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Are you sure to Delete this Doctor ???</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input type="button" class="btn btn-danger" value="Confirm Delete" id="btnConfirmDelete" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
<script src="~/Scripts/ProjectScripts/Appointment/AppointmentShowAll.js"></script>
}