﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/StyleForFrontEnd.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navBackColor">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="BrandDefault h3 " href="#"><span style="color:#0094ff">DOCTOR</span>-<span style="color:red">CLINIC</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navLineHeight" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right ">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="#">Health Tips</a></li>
                    <li><a href="@Url.Action("GetAppointment", "Patients")">Get an Appointment</a></li>
                    <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    @if (Session["Id"] == null)
                    {
                        <li><a href="@Url.Action("Login", "Authorizations")">Login/Register</a></li>
                    }
                    @if (Session["Id"] != null && (string)Session["Role"] == "Patient")
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Patient's Dashboard <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ProfileDetail","Patients",new {id=(int)Session["Id"] })">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Appointments","Patients")">Appointment List</a></li>
                                <li><a href="@Url.Action("GetAppointment", "Patients")">Get An Appointment</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("LogOut","Authorizations",new {area="" })">Log Out</a></li>
                    }
                    @if (Session["Id"] != null && (string)Session["Role"] == "Doctor")
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Doctor's Dashboard <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ProfileDetail","Doctors",new {id=(int)Session["Id"] })">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Appointments","Doctors")">Appointment List</a></li>
                                
                            </ul>
                        </li>
                        <li><a href="@Url.Action("LogOut","Authorizations")">Log Out</a></li>
                    }

                    @if (Session["Id"] != null && (string)Session["Role"] == "Admin")
                    {
                        <li><a href="@Url.Action("LogOut","Authorizations")">Log Out</a></li>
                    }


                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/ProjectScripts/Project.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>

